*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: sans-serif;
}

#form{
    background-color: black;
    padding: 30px;
    margin: 20px auto;
    max-width: 400px;
}

label{
    color: white;
    font-family: sans-serif;
}

h1{
   margin: 0px 0px 20px;
   color: rosybrown;
   font-family: sans-serif;
   transition: 0.3s ease-in-out;
}


input[type='text'],
input[type='email'],
input[type='password']{
    width: 100%;
    padding: 10px;
    background:none;
    margin-bottom: 30px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid rosybrown;
    transition: 0.3s ease-in-out;
}

#div-btn{
    text-align: center;
}

.btn{
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    background: none;
    color: white;
    background-color: rosybrown;
    transition: 0.3s ease-in-out;
}
